.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 40px;
  padding: 10px 42px 10px 40px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 40px;
  padding: 10px 38px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 40px;
  padding: 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}